<!DOCTYPE html>
<head>
    <title>Crankier Hardware</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/header-footer.css">
    <link rel="stylesheet" href="/static/main.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="menu-button buttons-margin" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="75" fill="black"
                class="bi bi-list" viewBox="-1 0 17 15">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
        </a>
        <a href="/customers/{{customer.nif}}"><h1>Crankier Hardware</h1></a>
        <a class="signup-button buttons-margin head-button user" href="/customers/{{customer.nif}}"> Usuario </a>
        <a class="signin-button buttons-margin head-button" href="/ShoppingCart/{{customer.nif}}">Cesta</a>
    </header>

    {% for i, product in enumerate(products): %}
        {% if i%2 == 0 %}
        <section class="container">
        {% endif %}
                <a href="/{{customer.nif}}/{{product.name}}">
                    <img class="card-image" src="{{product.imgRoute}}"/>
                    <h4 class="card-title card-margin">{{product.name}}</h4>
                    <p class="card-price card-margin"> {{round(product.price,2)}}€
                        {% if product.offer == True %}
                            <span class="card-price-orig"> {{round(product.priceOrig,2)}}€ </span>
                        {% endif %}
                    </p>
                </a>
        {% if (i%2 != 0) or (i == len(products)-1) %}
        </section>
        {% endif %}
    {% endfor %}

    <footer>
        <p>
            <a href="mailto:example@example.com"> Mail </a>
        </p>
        <p>Copyright 2021</p>
    </footer>
</body>
</html>