<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crankier Hardware</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/header-footer.css">
    <link rel="stylesheet" href="/static/index.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bienvenid@ a Crankier Hardware</h1>
    </header>

    <main>
        <a href="/login/customer/0" >
            <h1>¿Eres cliente? <br> Este es tu sitio</h1>
        </a>
        <a href="/login/supplier/0">
            <h1>¿Eres proveedor? <br> Entra aquí</h1>
        </a>
    </main>

    <footer>
        <p>
            <a href="mailto:example@example.com"> Mail </a>
        </p>
        <p>Copyright 2022</p>
    </footer>

</body>
</html>