<!DOCTYPE html>
<head>
    <title>Crankier Hardware</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/header-footer.css">
    <link rel="stylesheet" href="/static/sign.css">
    <link rel="stylesheet" href="/static/products.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="menu-button buttons-margin" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="75" fill="black"
                class="bi bi-list" viewBox="-1 0 17 15">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
        </a>
        <h1>Crankier Hardware</h1>
        <a class="signin-button buttons-margin head-button" href="/supplier/{{supplier.nif}}"> Inicio </a>
    </header>

    <main>
        <section>
            <form {% if attempt != "edit" %} action="/createNewProduct/{{supplier.nif}}/{{attempt}}" {% endif %}
                  {% if attempt == "edit" %} action="/editedProduct/{{supplier.nif}}/{{product.name}}" {% endif %}
                  method="post" enctype="multipart/form-data">
                {% if attempt == 'edit' %}
                    <p class="advert">Rellene solo los campos que desea editar</p>
                {% endif %}
                <label>Información del producto</label>
                <div class="">
                    <input type="text" name="name" placeholder="Nombre" class="vertical" autofocus
                           {% if attempt != 'edit' %}required{% endif %}>
                </div>
                <div class="">
                    <input type="text" name="pvp" placeholder="Precio" class="vertical" autofocus
                           {% if attempt != 'edit' %}required{% endif %}>
                </div>
                <div class="">
                    <input type="text" name="description" placeholder="Descripción" class="vertical" autofocus
                           {% if attempt != 'edit' %}required{% endif %}>
                </div>
                <div class="">
                    <input type="text" name="category" placeholder="Categoría" class="vertical" autofocus
                           {% if attempt != 'edit' %}required{% endif %}>
                </div>
                {% if attempt != 'edit' %}
                <p> Imagen </p>
                    <div class="">
                        <input type="file" name="img" accept="image/png, image/jpeg, image/svg+xml2311" required>
                    </div>
                {% endif %}

                <br>
                <label>¿En oferta?</label>
                <div>
                    <input class="radioInput" type="Radio" name="offer" value="True"
                           {% if product.offer %}checked{% endif %}>Sí
                    <input class="radioInput" type="Radio" name="offer" value="False"
                           {% if not product.offer %}checked{% endif %}>No
                </div>
                <div class="">
                    <input type="text" name="offerQuantity" placeholder="Porcentaje de descuento" class="vertical" autofocus>
                </div>

                <button type="submit" class="vertical" > <!-- btn-block hace que el boton ocupe todo el ancho -->
                    {% if attempt != 'edit' %} Registrar producto {% endif %}
                    {% if attempt == 'edit' %} Registrar cambios {% endif %}
                </button>
            </form>
        </section>
    </main>

    <footer>
        <p>
            <a href="mailto:example@example.com"> Mail </a>
        </p>
        <p>Copyright 2022</p>
    </footer>
</body>
</html>